

.max-height {
    height: 900px;
}

.margin-left-140 {
    margin-left: 140px;
    
}

@media  screen and (max-width: 780px)  {
    .margin-left-140 {
        margin-right: 10px;

        margin-left: auto;

    
    }

    .main {
        height: 1100px;
    }

    .search-bar {
        margin:0 10px;
    }
}